
body{
    background-color:red;
}

h1,h2{
    color:orange
}

.navbar-dark .navbar-nav .nav-link {
    color:orange;
}


.navbar-dark .navbar-nav>li {
    margin-right: 10px;
    color:blue;
}

button{
    visibility:hidden;
}

#citytable{
    background-color:rgb(255, 153, 0);
}



/*--------------- media queries below ------------------*/



/* makes the navbar items disapear and replaces them with a hamburger button */
@media(max-width:564px){
    .navbar-expand-sm .navbar-nav{
        display:none;
    }
    button{
        visibility:visible;
    }
}

