
body{
    background-color:red;
}

h1,h2{
    color:orange;
}

.navbar-dark .navbar-nav .nav-link {
    color:orange;
}


.navbar-dark .navbar-nav>li {
    margin-right: 10px;
    color:orange;
}

button{
    visibility:hidden;
}

#citytable{
    background-color:orange;
}


#rowhomeimg{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#colhomimg{
    flex: 25%;
    padding: 0 4px;
  }



/*--------------- media queries below ------------------*/



/* makes the navbar items disapear and replaces them with a hamburger button */
@media(max-width:640px){
    .navbar-expand-sm .navbar-nav{
        display:none;
    }
    button{
        visibility:visible;
    }
}

@media(min-width:992px){
    #homeimg{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
    }




}